header {
background-image:url('images/coffeebeans.jpg');
height: 300;}

h1 span {color: cyan;
				font-size: 57px;
				font-family: kaushan script;
			}
			
h1 {color: white;
		text-align: center;
		font-size: 30px;
		padding-bottom: 25px;
		}

nav {text-align: center;
		color: white;
		background-color: darkcyan;
		padding: 10px;
		
		word-spacing: 3em;
		}

nav {font-family: ariel;}

div {line-height:.45em;}

p {color:brown;
	padding-left: 50px;
	padding-right: 50px;}

h3 {padding-left: 50px;
	padding-right: 50px;
		padding-top: 40px;}

a {color:white;
text-decoration:none;}

footer {background-color: darkcyan;
				color: white;
				padding: 10px;
				text-align: center;
				margin-top: 50px;
				margin-bottom: 35px;}
