h1{font-family: league gothic;
	font-style: condensed;
	font-size: 75px;
	margin: 10px;}

p{margin: 10px;
	padding-left: 20px;
	font-family: helvetica;
font-weight: normal;
font-size: 14px;}

h3 {padding-left: 10px;
	font-family: helvetica;
	font-size: 15px;
}

h4 {font-family: helvetica;
	padding-left: 10px;
	font-size: 14px;
	padding-top: 10px}

h5 {font-family: helvetica;
		font-size: 16px;
		line-height: 8px;}


li {display: inline; 
		margin-right: 10px;
		font-family: helvetica;
		font-style: bold;
	}
		
a	{text-decoration: none;
	font-family: helvetica;
	}

a:link {color: black;} /* unvisited link */
a:visited {color: gray} /* visited link */
a:hover {color: pink}/* mouse over link */
a:active {color: purple}/* selected link */


